header{
    font-family: 'Luckiest Guy', cursive;
}

p{
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px
}

.skinshell{
    border: solid;
	border-width: 2px;
	border-color: black;
	float: left;

    width: 230px;
    height: 250px;

    font-family: 'Luckiest Guy', cursive;
    text-align: center;

	margin-left: 5px;
	margin-right: 5px;

	padding-top: 5px;
	padding-bottom: 5px;

	background-color: #f2f2f2;
}

.attack{
    font-family: 'Luckiest Guy', cursive;
    color: white;
    font-weight: 100;
    font-size: 18px;
}

body{
    /* font-family: 'Luckiest Guy', cursive; */
    background-image: url("../images/battlebus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.sectionheader{
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    color: white;
    
    margin-top: -3px;

}

.top-buffer{
    margin-top: 40px;
}